.right-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.chart-card {
    flex: 1;
}
.summary-card {
    grid-column:1/ span 2;
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
}
.progress-container{
    width:100%;
    height:24px;
    border-radius:30px;
    overflow:hidden;
    margin:1rem 0;
    background:#ddd;
}
#progress-fill{
    width:50%;
    height:100%;
    transition:.4s;
    background:linear-gradient(
    to right,
    #4caf50,
    #8bc34a
    );
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 2rem;
}
.left-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#habits-form, #non-negotiables-form {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
#habit-name, #habit-time, #habit-frequency {
    padding: 10px;
    border-radius: 5px;
}
#habit-category, #habit-type {
    
}
#habit-name, #habit-time, #nn-input {
    border: 2px solid transparent;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: small;
}

#habit-name:hover,#habit-name:focus, #habit-time:hover,#habit-time:focus, #nn-input:hover,#nn-input:focus {
    border: 2px solid #4a9dec;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}